      /* Override some defaults */
  html, body {
    background-color: #eee;
  }
  body {
    padding-top: 40px; 
  }
  .container {
    width: 300px;
  }

  /* The white background content wrapper */
  .container > .content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px; 
    -webkit-border-radius: 10px 10px 10px 10px;
       -moz-border-radius: 10px 10px 10px 10px;
            border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);
  }

  .login-form {
	margin-left: 65px;
  }

  legend {
	margin-right: -50px;
	font-weight: bold;
  	color: #404040;
  }
  
  .modal-box {
  	height:50px;
  }
  
  .modal-label {
    float:left;
    width:40%;
    margin-top:5px;
  }
  
  .modal-text{
  	float:left;
    width:50%
  }
  
  .route-modal-label {
  	margin-left:8%;
    float:left;
    width:20%;
    margin-top:5px;
  }
  
  .route-modal-text{
  	float:left;
    width:70%
  }
  
  .targetRow{
    height : 30px;
  }
  
  .target-host{
    width : 180px;
    float : left
  }
  
  .target-port{
    width : 100px;
    float : left;
    margin-left:4px;
  }
  
  .alert-box{
  }