head
    meta(charset='utf-8')
    title Proxy-etc
    link(rel='shortcut icon',href='')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='/css/bootstrap.css', rel='stylesheet')
    link(href='/css/proxy.css', rel='stylesheet')