script(type='text/javascript', src='/js/lib/jquery-1.10.1.min.js')
script(type='text/javascript', src='/js/lib/bootstrap/js/bootstrap.min.js')
script(type='text/javascript', src='/js/lib/angular.min.js')
script(type='text/javascript', src='/js/lib/angular-resource.min.js')
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/controllers.js')
script(type='text/javascript', src='/js/services.js')
script(type='text/javascript', src='/js/httpService.js')