.container(style='margin: 50px 500px;')
 .content
   .row
     .login-form
       h2 Login
       form(ng-submit='login()', name='loginForm' onsubmit='return false;' novalidate)
         fieldset
           .clearfix
             input(type='text', id='username', ng-model='username' placeholder='Username', name='username')
           .clearfix
             input(type='password', id='password', ng-model='password' placeholder='Password', name='password')
           button.btn.primary(type='submit') Sign in
