div.content(style='min-height: 200px; width:800px; margin : 0px 60px;')
  div.row(style=' margin-left: -60px;')
    div.login-form
     button.btn.btn-success.pull-right(data-toggle='modal' data-target='#routeModal', style='width: 70px;' ng-click='openModal(null, \'add\')') Add
     h2 Routes
     table.table.table-bordered
       thead
         tr
           th Prefix
           th Host
           th Port
           th Action
           th Action
       tbody
         tr(ng-repeat='route in routes')
           td {{route.prefix}}
           td {{route.host}}
           td {{route.port}}
           td
             button.btn.btn-danger(style='width: 70px;' data-toggle='modal' data-target='#routeModal' ng-click='openModal(route, \'edit\')') Edit
           td
             button.btn.btn-danger(style='width: 70px;' data-toggle='modal' data-target='#deleteRouteModal' ng-click='deleteRouteModal(route._id)') Delete
#routeModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-body
        .modal-box
          .modal-label Prefix
          .modal-text
            input(type='text', value='', name='prefix', ng-model='route.prefix')
        .modal-box
          .modal-label Host
          .modal-text
            input(type='text', value='', name='host', ng-model='route.host')
        .modal-box
          .modal-label Port
          .modal-text
            input(type='text', value='', name='port', ng-model='route.port')
      .modal-footer
        button.btn(data-dismiss='modal', aria-hidden='true') Cancel
        button.btn.btn-primary(data-dismiss='modal', ng-click='saveRoute()') OK

#deleteRouteModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-body
        | Are you sure you want to delete route?
      .modal-footer
        button.btn(data-dismiss='modal', aria-hidden='true') Cancel
        button.btn.btn-primary(type='submit', data-dismiss='modal', ng-click='deleteRoute()') OK